@media screen and (max-width: 991.9px) {
    body {
        position: relative;
        left: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .mobile-site {
        left: -320px;
    }
    .mobile-site header.fixed.show{
        left: -320px;
    }
}

header{
    background: #fff;
    z-index: 999;
    /* font-family: "Nexa Regular"; */
}
.header-top{
    display: flex;
    justify-content: space-between;
    background: transparent;
    transition: all .4s;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    width: 100%;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    z-index: 999;
}
.header-white .header-top{
    box-shadow: unset;
}
.header-top .layui-container>.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0px 0;
}
.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .logo img{
    height: 62px;
    transition: all .4s;
}
.header .logo .logo-white{
    display: none;
}
.header .logo .logo-black{
    display: block;
}

.header .header-nav{
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 16px;
    justify-content: flex-end;
    color: var(--color-text-primary);
    align-items: center;
    transition: all .3s;
    left: 0;
}
.header .header-nav.none{
   opacity: 0;
   left: -100px;
}
.header .header-nav .layui-nav{
    background: none;
    font-size: inherit;
    padding: 0;
}
.header-nav .layui-nav,
.header-nav .layui-nav>.layui-nav-item{
    position: static;
}
.header-nav .layui-nav>.layui-nav-item{
    position: relative;
}
.header-nav .layui-nav .layui-nav-child:before,
.header-nav .layui-nav .layui-nav-child:after{
    content: unset;
}
header .layui-nav-bar{
    display: none!important;
}
.header-nav .layui-nav .layui-nav-item>a,
.header-nav .layui-nav .layui-nav-item{
    line-height: 64px;
    font-size: inherit;
}
.header-nav .layui-nav .layui-nav-item>a{
    padding: 0 8px;
    position: relative;
    font-size: inherit;
    color: inherit;
}
/* .header-nav .layui-nav .layui-nav-item>a:after{
    content: "";
    position: absolute;
    left: 1vw;
    right: 1vw;
    bottom: 10px;
    background-color: var(--color-primary);
    height: 2px;
    border-radius: 2px;
    transform: scaleX(0) scaleY(1);
    transition: all .4s ease-in-out;
} */
.header-nav .layui-nav .layui-nav-child{
    margin-top: 0px;
    border: unset;
    /* border-radius: unset; */
    -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
    /* border-top: 2px solid var(--color-primary); */
    /* background-color: rgba(255, 255, 255, .96); */
    box-shadow: none;
    background-color: unset;
    overflow: hidden;
    top: 100%;
    z-index: 999;
    text-align: left;
    padding: 0;
    min-width: unset;
    width: 140px;
    left: 50%;
    margin-left: -70px;
    /* left: 5vw;
    right: 5vw; */

    /* margin-top: -12px; */
}
.header-white .header-nav .layui-nav .layui-nav-child{
    /* margin-top: -15px; */
}
.header-nav .layui-nav .layui-nav-item.active>a,
.header-nav .layui-nav .layui-nav-item>a:hover{
    color: var(--color-hover);
}
.header-nav .layui-nav .layui-nav-item.active>a:after,
.header-nav .layui-nav .layui-nav-item>a:hover:after{
    transform: scaleX(1) scaleY(1);
}
header.fixed .layui-nav .layui-nav-item.active>a,
header.fixed .layui-nav .layui-nav-item>a:hover{
    color: var(--color-hover)!important;
}
/* header.fixed .layui-nav .layui-nav-child{
    background: #fff;
} */
header .layui-nav .layui-container{
    display: block;
}
.header .menu-toggle .toggle-iconfont span,
.header .menu-toggle span:after,
.header .menu-toggle span:before{
    background: var(--color-text-primary);
}
.layui-nav .layui-nav-child .dropmenu{
    background-color: rgba(255, 255, 255, 1);
    /* -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%); */
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /* border-top: 2px solid var(--color-primary); */
}
.layui-nav .layui-nav-child .dropmenu-container{
    padding:5px 0;
}
.layui-nav .layui-nav-child .dropmenu-container a{
    padding: 0;
    line-height: 1.5;
}
.layui-nav .layui-nav-child .dropmenu-container a:hover{
    background: unset;
}
.layui-nav .layui-nav-child .dropmenu-container .sub-title>a{
    font-size: 14px;
    padding: 9px 0;
    /* margin-bottom: 12px; */
    color: var(--color-text-primary);
    text-align: center;
    /* font-weight: bold; */
}
.layui-nav .layui-nav-child .dropmenu-container .sub-title>a:hover{
    color: #ffffff;
    background-color: var(--color-hover);
}

.layui-nav .layui-nav-child .dropmenu-container .desc,
.layui-nav .layui-nav-child .dropmenu-container ul a{
    color: var(--color-text-secondary-grey);
    font-size: 14px;
    line-height: 1.5;
    padding: 6px 0;
    padding-right: 20px;
    position: relative;
    transition: all .3s ease-in-out;
    font-weight: normal;
}
.layui-nav .layui-nav-child .dropmenu-container ul a:after{
    content: "\e60e";
    font-family: "iconfont";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-primary);
    font-weight: bold;
    transition: all .3s ease-in-out;
    opacity: 0;
}
.layui-nav .layui-nav-child .dropmenu-container ul a:hover{
    color: var(--color-primary);
    font-weight: bold;
}
.layui-nav .layui-nav-child .dropmenu-container ul a:hover:after{
    right: 0;
    opacity: 1;
}
.layui-nav .layui-nav-child .dropmenu-container .desc{
    white-space: normal;
    line-height: 1.8;
}

.dropmenu-bottom{
    background-color: var(--color-primary);
    color: #fff;
    padding: 18px 0;
}
.dropmenu-bottom .more-btn{
    margin-top: 0;
    padding: 8px 20px!important;
    text-align: center;
}
@media screen and (min-width: 992px) {
    .layui-nav .layui-nav-child .dropmenu-container .layui-col-md2{
        width: 20%;
    }
}
/* dropmenu END */


.header .menu-toggle{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .menu-toggle .toggle-iconfont {
    transition: 0.4s;
    position: relative;
    z-index: 20;
    float: right;
    cursor: pointer;
    width: 20px;
    height: 16px;
}

.header .menu-toggle .toggle-iconfont span {
    margin-top: 7px;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    position: relative;
    /* vertical-align: middle;  */
    cursor: pointer;
}

.header .menu-toggle span:after,
.header .menu-toggle span:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--color-primary);
}

.header .menu-toggle span:before {
    top: -7px;
    -webkit-transition-property: top, transform;
    -moz-transition-property: top, transform;
    -ms-transition-property: top, transform;
    -o-transition-property: top, transform;
    transition-property: top, transform;
}

.header .menu-toggle span:after {
    bottom: -7px;
    /* width: 16px;  */
    -webkit-transition-property: bottom, transform;
    -moz-transition-property: bottom, transform;
    -ms-transition-property: bottom, transform;
    -o-transition-property: bottom, transform;
    transition-property: bottom, transform;
}
.header-main{
    position: relative;
    display: flex;
    align-items: center;
    text-align: right;
    height: 64px;
}

/* secondary-nav */
header .secondary-nav{
    text-align: right;
    font-size: 15px;
    color: #07090D;
    padding: 10px 0;
    width: auto;
    display: inline-block;
    padding-left: 20px;
    position: relative;
    height: 40px;
}

header .secondary-nav .flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .secondary-nav ul li{
    display: inline-block;
    padding: 0 .8vw;
    position: relative;
}
header .secondary-nav ul li:not(:last-child):after{
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px;
    width: 1px;
    background-color: #bbb;
}
header .secondary-nav ul li a{
    color: inherit;
    font-size: 13px;
    color: var(--color-text-secondary-grey);
}
header .secondary-nav ul li a:hover{
    color: var(--color-primary);
}
.header .search-btn{
    color: var(--color-text-primary);
    font-size: 18px;
    font-weight: bold;
    transition: all .3s;
}
.header .search-btn.none{
    opacity: 0;
    width: 0;
    overflow: hidden;
}
.header .search-btn .iconfont{
    line-height: 60px;
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    padding: 0 12px 0 12px;
    cursor: pointer;
}

.secondary-nav .layui-nav>.layui-nav-item>a{
    padding: 0;
    color: inherit;
}
/* secondary-nav END */

.headerTemp{
    height: 84px;
    display: none;
}

/* header-white */
.header-white .headerTemp{
    position: absolute;
}
.header-white header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: none;
}
.header-white .header-top{
    box-shadow: none;
}
.header-white .secondary-nav ul li a{
    color: var(--border-color-base);
}
.header-white .header .logo-white{
    display: block;
}
.header-white .header .logo-black{
    display: none;
}
.header-white .header-nav .layui-nav .layui-nav-item.active>a,
.header-white .header-nav .layui-nav .layui-nav-item>a:hover,
.header-white .header .search-btn,
.header-white header .secondary-nav,
.header-white .header .header-nav{
    color: #fff;
}
.header-white .header-nav .layui-nav .layui-nav-item>a:after,
.header-white .header .menu-toggle .toggle-iconfont span,
.header-white .header .menu-toggle span:after,
.header-white .header .menu-toggle span:before{
    background: #fff;
}
/* header-white END */

header.fixed{
    position: fixed;
    top: -100%;
}
header.fixed .header-top{
    /*display: none;*/
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    color: var(--color-text-primary)!important;
}
header.fixed .header-top .layui-container>.flex{
    padding: 0px 0;
}
header.fixed .header-nav,
header.fixed .header .header-nav .role-list a{
    color: var(--color-text-primary)!important;
}
header.fixed .layui-nav .layui-nav-more{
    border-color: var(--color-text-primary) transparent transparent!important;
}
header.fixed .header .header-nav .role-list a:not(:last-child):after{
    border-color: rgba(0, 0, 0, .5);
}
header.fixed .header .logo-white{
    display: none;
}
header.fixed .header .logo-black{
    display: block;
}
header.fixed .secondary-nav{
    color: #07090D;
}
header.fixed .secondary-nav ul li a{
    color: var(--color-text-secondary-grey)!important;
}
header.fixed.show{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
header.fixed .header .search-btn{
    color: var(--color-text-primary);
}

header.fixed .header-nav .layui-nav .layui-nav-item>a:after,
header.fixed .header .menu-toggle .toggle-iconfont span,
header.fixed .menu-toggle span:after,
header.fixed .menu-toggle span:before{
    background: var(--color-text-primary)!important;
}
header.fixed .header-nav .layui-nav .layui-nav-child{
    margin-top: 0;
}
header .search-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 0;
    overflow: hidden;
    transition: all .3s;
}
header .search-box.show{
    width: 300px;
    overflow: auto;
}
header .search-box .layui-input{
    width: 100%;
    background-color: #f2f2f2;
    height: 36px;
    border-radius: 36px;
    border: none;
    padding: 0 40px;

}
header .search-box .form-submit{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    line-height: 36px;
    border: none;
    font-size: 14px;
    color: var(--color-text-secondary-grey);
    background-color: unset;
}
header .search-box .layui-input::placeholder{
    font-size: 14px;
    color: var(--color-text-secondary-grey);
}
header .search-box .close-btn{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    line-height: 36px;
    font-size: 14px;
    color: var(--color-text-secondary-grey);
    text-align: center;
    cursor: pointer;
}
header .search-box .close-btn i{
    font-size: inherit;
    color: inherit;
    font-weight: 800;
}
@media screen and (max-width: 991.9px) {
    header .search-box{
        right: 50px;
    }
}

@media screen and (min-width: 992px) {
    header .menu-toggle{
        display: none!important;
    }
}
.header-nav .show-mobile{
    display: none;
}
@media screen and (max-width:991.9px) {
    /* .header .header-nav .layui-nav{
        display: none!important;
    } */
    .header .secondary-nav{
        display: flex!important;
    }
    .header .header-nav{
        font-size: 14px;
    }
    .header .secondary-nav .menu-toggle{
        height: 80px;
        display: flex!important;
    }
    .header .secondary-nav .search-btn .layui-input{
        display: none;
    }

    .header .header-nav .layui-nav{
        position: fixed;
        width: 320px;
        right: -320px;
        top: 0;
        bottom: 0;
        z-index: 10002;
        background: var(--color-primary);
        color: #fff !important;
        padding: 15px 0px!important;
        transition: all .4s ease-in-out;
        padding-top: 56px!important;
    }
    .header-nav .layui-nav .layui-nav-item>a,
    .header-nav .layui-nav .layui-nav-item{
        line-height: 50px;
    }
    .header .header-nav .layui-nav .layui-nav-item{
        display: block;
        text-align: left;
        border-bottom: 1px solid rgba(0,0,0,.05);
    }
    .header .header-nav .layui-nav .layui-nav-item>a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:  0 20px;
    }
    .header .header-nav .layui-nav .layui-nav-item>a:hover{
        color: #ffffff!important;
    }
    .header-nav .layui-nav.nav-horizon .layui-nav-more{
        line-height: 1em;
        height: unset;
        width: unset;
        text-align: right;
        margin: 0;
        transition: all .3s;
    }
    .header-nav .layui-nav.nav-horizon .layui-nav-mored,
    .header-nav .layui-nav.nav-horizon .layui-nav-itemed>a .layui-nav-more{
        transform: rotate(0);
    }
    .header-nav .layui-nav.nav-horizon .layui-nav-more:after{
        display: inline-block;
        transform: rotate(-90deg);
    }
    .header-nav .layui-nav .layui-nav-more.rotate{
        transform: rotate(-90deg);
    }
    .header-nav .layui-nav .layui-nav-child{
        position: static;
        width: 100%!important;
        z-index: 10003;
        left: unset!important;
        background-color: #fff;
        margin-top: 0;
        min-width: 0;
        transition: all .4s ease-in-out;
        display: block !important;
        box-shadow: unset;
        margin-left: 0px;
        border-radius: 0px;
    }

    .header-nav .layui-nav .layui-nav-child .layui-container{
        padding: 0;
        position: static;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        bottom: 0;
        padding: 10px 20px 20px;
        z-index: 2;
    }
    .header-nav .layui-nav .layui-nav-child .dropmenu{
        box-shadow: none;
        border-top: 0;
        padding: 0px 5px;
        background-color: #6d8eb2;
        display: none;
    }
    .header-nav .layui-nav .layui-nav-child.active .dropmenu{
        display: block;
    }
    .header-nav .layui-nav .layui-nav-child .dropmenu-container,
    .header-nav .layui-nav .layui-nav-child .dropmenu-bottom{
        padding: 0;
    }
    .header-nav .layui-nav .layui-nav-child .dropmenu-container .sub-title>a{
        text-align: left;
        line-height: 48px;
        padding: 0 20px;
        font-size: 14px;
        border-bottom: 1px solid rgba(0,0,0,.05);

        color: #ffffff;
    }
    .header-nav .layui-nav .layui-nav-child .dropmenu-bottom{
        display: none;
    }
    .header-nav .layui-nav .layui-anim-upbit{
        animation-name: unset;
    }
    .header-nav .back-btn,
    .header-nav .close-btn{
        font-size: 20px;
        font-weight: bold;
    }
    .header-nav .show-mobile{
        padding-top: 0;
        padding-bottom: 0;
        text-align: right;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 10px 20px;
        background-color: var(--color-primary);
        z-index: 9;
        border-bottom: 1px solid rgba(0,0,0,.05);
    }
    .header-nav .show-mobile.flex{
        display: flex;
    }

    .mobile-bg{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        background-color: rgba(0,0,0,.75);
        z-index: -1;
        opacity: 0;
        transition: opacity .4s ease-in-out;
    }
    .mobile-site .header-nav .layui-nav .layui-nav-child.layui-show,
    .mobile-site .header .header-nav .layui-nav{
        right: -1px;
    }
    .mobile-site .mobile-bg{
        z-index: 10001;
        opacity: 1;
        height: 100vh;

    }
    .header-nav .layui-nav .layui-nav-child .dropmenu-container .sub-title>a:hover,
    header.fixed .layui-nav .layui-nav-item.active>a, header.fixed .layui-nav .layui-nav-item>a:hover {
        color: #fff!important;
        background-color: #5370d7;
    }

}
@media screen and (max-width: 767.9px) {


    .header .logo{
        padding: 12px 0;
    }
    .header .logo img{
        height: 40px;
    }
    .header-top .language-btn,
    .header-top .search-btn{
        width: 40px;
        background: none;
        border-left: 0;
        /* margin-right: 12px; */
        font-size: 18px;
    }
    .header-top .language-btn:hover,
    .header-top .search-btn:hover{
        background: none!important;
    }
    /* header.fixed .header-top .language-btn,
    header.fixed .header-top .search-btn{
        color: var(--color-text-primary);
    } */
    .header-top .language-btn{
        margin-right: 10px;
    }
    .header-top .search-btn .text,
    .header-top .menu-toggle .text{
        display: none;
    }
    .header-top .search-btn .iconfont{
        margin-right: 0;
        padding-right: 10px;
    }
    header .layui-nav{
        padding: 0 10px!important;
    }
    .header .header-main .secondary-nav{
        padding-right: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: right;
    }
    header .secondary-nav:before{
        transform: skewX(0);
    }
    header .secondary-nav ul li{
        padding: 0 10px;
    }
    .header-main{
        display: flex;
        align-items: center;
    }
    /* header .header-top{
        height: 100px;
        padding-top: 40px;
    } */
    .header .header-main .secondary-nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    header .secondary-nav .secondary-bg:before{
        transform: skewX(0deg);
    }
}
/*header END*/




/*footer*/
footer{
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 20px 0;
    border-top: 1px solid var(--border-color-base);
}
footer,footer a,footer a:visited{
    color: var(--color-text-primary);
    font-size: 14px;
}
footer a:hover,
footer a:focus{
    color: var(--color-primary);
}
footer .footer-nav{
    margin-bottom: 12px;
}
footer .footer-nav li{
    display: inline-block;
    margin-right: 10px;
    line-height: 18px;
}
footer .footer-nav li a {
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
}
footer .footer-nav li::after {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    opacity: .8;
    content: "|";
    vertical-align: top;
}
footer .footer-nav li:last-child::after{
    display: none;
}
footer .copyright{
    font-size: 13px;
    text-align: center;
}
footer .copyright a{
    font-size: 13px;
}
@media (max-width: 767px){
    footer{
        padding: 20px 0;
    }
    footer .footer-nav{
        display: none;
    }
}
/*footer END*/



#button-to-top {
    /*background: var(--color-primary);*/
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 997;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    color: var(--color-text-primary);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    opacity: .75;
    border-radius: 3px;
}
#button-to-top:hover{
    opacity: 1;
}


/*footer END*/
.pb-page-links .container {
    position: relative;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}
.pb-page-links .container .side{
    width: 140px;
    padding: 15px 0;
    position: fixed;
    top: 64px;
    left: 15px;

}
.pb-page-links .container .side.abs {
    position: absolute;
    bottom: 0;
    top: auto;
  }
.pb-page-links .container .side .side-menu {
    overflow-y: auto;
    height: calc(100vh - 125.8px);
}

.mCSB_inside > .mCSB_container{
    margin-right: 15px;
}
.mCSB_scrollTools a + .mCSB_draggerContainer{
    margin: 0!important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background-color: rgba(0, 0, 0, .15);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: rgba(0, 0, 0, .15);
}
.mCSB_scrollTools .mCSB_draggerRail{
    background-color: unset;
}
.pb-page-links .container .side .side-menu .menu .item {
    display: block;
    color: var(--color-text-primary);
    border-radius: 10px;
    line-height: 40px;
    padding: 0 20px;
}
.pb-page-links .container .side .side-menu .menu .item:hover {
    background: #fff;
    color: var(--color-primary);
}
.pb-page-links .container .side .side-menu .menu .item.active {
    background: var(--color-primary);
    color: #fff;
}
.pb-page-links .container .main{
    flex: 1;
    padding: 15px 0;
    padding-left: 170px;
}
.ub-search-block {
    background-color:var(--color-primary);
    padding:40px 10px 60px;
    text-align:center;
    position:relative;
    background-size:cover;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}
  .ub-search-block.light {
    background-color:#fff;
  }
  .ub-search-block.light .title {
    color:var(--color-text-default);
  }
  .ub-search-block.light .form .box input {
    border-color:var(--color-primary);
    outline:1px solid var(--color-primary);
  }
  .ub-search-block.light .form .box button {
    background-color:var(--color-primary);
    color:#fff
  }
  .ub-search-block .video-background {
    top:0;
    left:0;
    height:100%;
    -o-object-fit:cover;
    object-fit:cover;
    background-color:var(--color-primary);
    vertical-align:top;
    position:absolute;
    width:100%
  }
  .ub-search-block .content-container {
    position:relative
  }
  .ub-search-block .title {
    font-size:30px;
    padding:0;
    color:#fff
  }

  .ub-search-block .form {
    padding-top:20px;
  }
  .ub-search-block .form .tab .tab-item {
    color:#fff;
    display:inline-block;
    line-height:36px;
    padding:0 20px;
    border-radius:10px 10px 0 0;
    transition: all .3s;
  }
  .ub-search-block .form .tab .tab-item.active {
    background-color:#fff;
    color:var(--color-primary)
  }
  .ub-search-block .form .keywords {
    line-height:30px;
    color:#fff;
    margin-top:30px;
  }
  .ub-search-block .form .keywords .keywords-label {
    display:inline-block;
    line-height:30px;
  }
  .ub-search-block .form .keywords .keywords-item {
    display:inline-block;
    line-height:30px;
    background-color:rgba(0,0,0,.1);
    border-radius:6px;
    color:#fff;
    padding:0 10px;
  }
  .ub-search-block .form .keywords .keywords-item:hover {
    background-color:var(--color-content-bg);
    color:var(--color-text)
  }
  .ub-search-block .form .box {
    max-width:500px;
    margin:0 auto;
    position:relative;
    height:50px;
  }
  .ub-search-block .form .box.rect input {
    border-radius:10px;
  }
  .ub-search-block .form .box.rect button {
    border-radius:10px;
  }
  .ub-search-block .form .box.captcha img {
    height:48px;
    line-height:48px;
    position:absolute;
    right:100px;
    top:1px;
    border-radius:5px;
    cursor:pointer
  }
  .ub-search-block .form .box input {
    width:100%;
    border-radius:50px;
    line-height:50px;
    height:50px;
    padding:0 20px;
    outline:0;
    border: none;
  }
  .ub-search-block .form .box button {
    position:absolute;
    right:1px;
    top:1px;
    background-color:#fff;
    border:none;
    border-radius:25px;
    color:var(--color-primary);
    height:48px;
    line-height:48px;
    padding:0 20px;
    margin:0
  }
@media (max-width:767px) {
    .ub-search-block .title {
        font-size:20px
    }
}
.group{
    padding-top: 20px;
}
.group .group-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}
.items .item{
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    transition: .2s all;
    overflow: hidden;
}
.items .item .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items .item .top .left{
    display: flex;
    align-items: center;
}
.items .item .top .left .img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.items .item .top .left .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.items .item .top .left .name{
    font-weight: 700;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-text-primary);
    transition: .2s all;
}
.items .item .top .icon-box{
    width: 20px;
    height: 20px;
    border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
    font-size: 12px;
    color: var(--color-text-primary);
    box-shadow: 0 0 10px #999;
    transition: .2s all;
    opacity: 0;
}
.items .item .desc{
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 12px;
    margin-top: 10px;
    color: var(--color-text-secondary-grey);
    line-height: 1.4em;
}

.items .item .desc:hover{
    overflow: visible;
    -webkit-line-clamp: unset;
    white-space: nowrap;
    animation: textScroll 10s linear infinite;
}
@keyframes textScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX( -100%);
    }

}
.items .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 50px -18px #999;

}
.items .item:hover .top .left .name{
    color: var(--color-primary);
}
.items .item:hover .top .icon-box{
    opacity: 1;
}

@media (max-width: 767px){
    .pb-page-links .container .side{
        display: none;
    }
    .pb-page-links .container .main{
        padding-left: 0;
    }
    .ub-search-block .form .box input{
        height: 40px;
        line-height: 40px;
    }
    .ub-search-block .form .box button{
        height: 38px;
        line-height: 38px;
    }
    .group .group-title{
        font-size: 18px;
        margin-bottom: 15px;
    }

    .layui-col-space20 > *{
        padding: 5px;
    }
    .layui-col-space20{
        margin: -5px;
    }
    .items .item{
        padding: 15px;
    }
}











