@font-face {
  font-family: "iconfont"; /* Project id 4118126 */
  src: url('iconfont.woff2?t=1713332760013') format('woff2'),
       url('iconfont.woff?t=1713332760013') format('woff'),
       url('iconfont.ttf?t=1713332760013') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-main-nav-home:before {
  content: "\e6ab";
}

.icon-main-nav-icon2:before {
  content: "\e6ea";
}

.icon-main-nav-icon3:before {
  content: "\e703";
}

.icon-main-nav-icon4:before {
  content: "\e602";
}

.icon-success:before {
  content: "\e66b";
}

.icon-arrow-right-2:before {
  content: "\e633";
}

.icon-more:before {
  content: "\eb08";
}

.icon-weixin1:before {
  content: "\e600";
}

.icon-plan:before {
  content: "\e606";
}

.icon-code:before {
  content: "\e616";
}

.icon-copyright:before {
  content: "\e666";
}

.icon-quote:before {
  content: "\e730";
}

.icon-mail:before {
  content: "\e6e9";
}

.icon-plus:before {
  content: "\e9cd";
}

.icon-taolun:before {
  content: "\e615";
}

.icon-douban:before {
  content: "\e691";
}

.icon-qqkongjian:before {
  content: "\e697";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-shoucang2:before {
  content: "\e65a";
}

.icon-right-mini:before {
  content: "\eb09";
}

.icon-minus:before {
  content: "\e8c3";
}

.icon-menu:before {
  content: "\e665";
}

.icon-wechat:before {
  content: "\e61d";
}

.icon-eye:before {
  content: "\e60f";
}

.icon-youtube-active:before {
  content: "\e601";
}

.icon-link:before {
  content: "\e6ef";
}

.icon-down:before {
  content: "\e625";
}

.icon-search1:before {
  content: "\e67c";
}

.icon-up:before {
  content: "\e87f";
}

.icon-left:before {
  content: "\e608";
}

.icon-right:before {
  content: "\e607";
}

.icon-close:before {
  content: "\e60b";
}

.icon-view:before {
  content: "\e66e";
}

.icon-user-o:before {
  content: "\e6e1";
}

.icon-search:before {
  content: "\e609";
}

.icon-facebook:before {
  content: "\e63f";
}

.icon-weixin:before {
  content: "\e62e";
}

.icon-linkedin:before {
  content: "\e62b";
}

.icon-twitter:before {
  content: "\e619";
}

.icon-weibo:before {
  content: "\e831";
}

.icon-feedback:before {
  content: "\e611";
}

.icon-like-solid:before {
  content: "\e6e8";
}

